<div id="<%= dom_id comment %>" class="W_PlantComment">
  
  <div class="A_AverageMediumText">
    <%= comment.user.email %>
  </div>
  
  <div class="A_AverageRegularText">
    <%= comment.body %>
  </div>

  <% if can? :manage, comment %>
  <div class="C_PlantCommentActions">
    <div class="A_PlantCommentAction A_SmallRegularText">ответить</div>
    <%= link_to "редактировать", edit_admin_comment_path(comment), class:"A_PlantCommentAction A_SmallRegularText" %>
    <%= button_to "удалить", [:admin, comment], method: :delete, class:"destroy A_PlantCommentAction A_SmallRegularText" %>
  </div>
<% end %>

<div class="commentReplies">
    <% comment.replies.each do |reply| %>
      <%= render reply, partial: "admin/comments/comment", comment: reply, plant: plant %>
    <% end%>
  </div>

</div>



