<div id="<%= dom_id comment %>" class="comment">
  <%= comment.reply_to_comment_id != nil %>
  <p>
    <strong>
    <%= comment.user.email %>
    </strong>
  </p>
  
  <p>
    <%= comment.body %>
  </p>

  <% if can? :manage, comment %>
  <div class="buttons_rel">
    <%= link_to "редактировать", edit_admin_comment_path(comment), class:"basic" %>
    <%= button_to "удалить", [:admin, comment], method: :delete, class:"basic" %>
  </div>
<% end %>

<div class="commentReplies">
    <% comment.replies.each do |reply| %>
      <%= render reply, partial: "admin/comments/comment", comment: reply, plant: plant %>
    <% end%>
  </div>

</div>



