<div id="<%= dom_id comment %>">
  <p>
    <strong>
    <%= comment.user.email %>
    </strong>
  </p>
  
  <p>
    <%= comment.body %>
  </p>
</div>

<% if can? :manage, comment %>
  <div>
    <%= link_to "Edit this comment", edit_admin_plant_comment_path(@plant, comment) %>
    <%= button_to "Destroy this comment", [:admin, @plant, comment], method: :delete %>
  </div>
<% end %>

