<div id="<%= dom_id plant %>" class="cool">
<%= image_tag plant.plant_image.url, width: 400 if plant.plant_image.url %>

  <p>
    <strong>Название:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Описание:</strong>
    <%= plant.description %>
  </p>

  <p>
    <strong>Автор:</strong>
    <%= plant.user.email %>
  </p>

</div>
