<%
  set_meta_tags og: {
    title: "Растения"
  }
%>
<h1><%= title "Растения" %></h1>


<% Plant.tag_counts_on(:tags).each do |tag| %>
  <div>
  <%= link_to tagged_admin_plants_path(tag.name) do %>
      <%= tag.name %> (<%= tag.taggings_count %>)
    <% end %>
    </div>
  <% end %>


<%= link_to "Новое растение", new_admin_plant_path, class: 'addButton' %>

<div id="plant" class="many">
  <% @plants.each do |plant| %>

    <%= link_to [:admin, plant], class: 'plantCard' do %>
      <%= render plant %>

      <% end %>
  <% end %>
</div>

