<div class="S_BodyPadding">
  <div class="M_TitleWrapper">
    <div class="A_Title"><%= @profile.username %></div>
    <%= link_to "Edit", edit_profile_path(@profile) %>
  </div>

  <div>
    <div>
      <div class="A_AverageMediumText">
        <%= @profile.location %>
      </div>
      <div class="Tags A_AverageRegularText">
        <div class="A_Tag">Каланхое</div>
        <div class="A_Tag">Фикус Бенджамина</div>
      </div>
      <div class="A_AverageRegularText">
        <%= @profile.about %>
      </div>
    </div>

    <div></div>
</div>


  <div class="A_SecondTitle">Мысли</div>
  <div class="M_ExchageSwapCards">
  <% @ideas.each do |idea| %>
    <% if current_user && idea.user_id == current_user.id %>
      <%= link_to [:admin, idea], class: 'M_SwapCard' do %>
        <%= render partial: 'admin/ideas/ideaPreviewProfile', locals: { idea: idea } %>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <div class="M_ExchageSwapCards">
    <% @plants.each do |plant| %>
      <% if current_user && plant.user_id == current_user.id %>
        <%= link_to [:admin, plant], class: 'M_SwapCard' do %>
          <%= render partial: 'admin/plants/plantPreview', locals: { plant: plant } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>