<div class="S_BodyPadding">
  <div class="M_TitleWrapper">
    <div class="W_ProfileHead">
      <div class="M_ProfileTitle">
        <div class="W_ProfileTitle">
          <div class="A_ProfileAvatar">
              <% if @profile.profile_image.file.present? %>
              <%= image_tag @profile.profile_image.url, class: "A_ProfileAvatarImg" %>
              <% else %>
              <%= image_tag "base/profile_image.png", class: "A_ProfileAvatarImg", alt: "Default Avatar" %>
              <% end %>
          </div>
          <div class="A_Title"><%= @profile.username %></div>
        </div>

        <% if @profile.user == current_user %>
          <%= link_to edit_profile_path(@profile) do %>
            <%= image_tag "base/settings.svg", class: "Q_Icon" %>
          <% end %>
        <% end %>
      </div>
      
      <% if current_user != @profile.user %>
      <% if current_user.followers.include?(@profile.user) %>
        <%= button_to 'Отписаться', unfollow_user_path(@profile.user), method: :delete, class: 'A_MediumText A_FollowButton' %>
      <% else %>
        <%= button_to 'Подписаться', follow_user_path(@profile.user), method: :post, class: 'A_MediumText A_FollowButton' %>
      <% end %>
      <% end %>

    </div>
  </div>

<h2>Подписки</h2>
<% if @followers.any? %>
  <% @followers.each do |follower| %>
    <%= link_to follower.profile.username, follower.profile %><br>
  <% end %>
<% else %>
  <p>Нет подписчиков</p>
<% end %>

<h2>Подписчики</h2>
<% if @followings.any? %>
  <% @followings.each do |following| %>
    <%= link_to following.profile.username, following.profile %><br>
  <% end %>
<% else %>
  <p>Нет подписок</p>
<% end %>





  <div class="M_ProfileInfo">
    <div class="M_ProfileInfoBasic">
      <div class="M_ProfileInfoLocation A_AverageMediumText">
        <%= image_tag "base/location.svg", class: "Q_Edit" %>
        <%= @profile.location %>
      </div>
      <div class="C_ProfileTags A_AverageRegularText">
        <div class="A_Tag">кактусовод</div>
        <div class="A_Tag">бонсай-мастер</div>
      </div>
      <div class="A_ProfileInfoBasicAbout A_AverageRegularText">
        <%= @profile.about %>
      </div>
    </div>

    <div class="C_ProfileInfoNumbers">
      <div class="M_ProfileInfoNumbersBlock">
        <div class="A_SecondTitle">19</div> 
        <div class="A_SmallRegularText">Подписчики</div>
      </div>
      <div class="M_ProfileInfoNumbersBlock">
        <div class="A_SecondTitle">22</div> 
        <div class="A_SmallRegularText">Подписки</div>
      </div>
      <div class="M_ProfileInfoNumbersBlock">
        <div class="A_SecondTitle"><%= @profile.user.plants.length%></div> 
        <div class="A_SmallRegularText">Растения</div>
      </div>
    </div>
</div>

  <div class="M_ProfileIdeasBlock">
    <div class="A_SecondTitle">Мысли</div>
    <% if @profile.user.ideas.count >= 4 %>
    <div class="A_ProfileIdeasBlockMore">
      <div class="A_AverageRegularText">посмотреть все</div>
      <%= image_tag "base/circle_arrow_right.svg", class: "Q_Edit" %>
    </div>
    <% end %>
  </div>


  <div class="C_ProfileCardsIdeas">
    <div class="M_ProfileIdeasPlus">
    <%= link_to new_idea_path do %>
      <%= image_tag "base/profile_ideas_plus.svg", class: "Q_Edit" %>
      <% end %>
    </div>
    <% idea_counter = 0 %>
    <% @ideas.reverse.each do |idea| %>
      <% if @profile && idea.user_id == @profile.user.id %>
      
        <% if idea_counter < 4 %>
          <%= link_to idea, class: 'link' do %>
            <%= render partial: 'ideas/ideaPreviewProfile', locals: { idea: idea } %>
          <% end %>
          <% idea_counter += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<div data-controller="profile">
  <div class="M_ProfilePlantsBlock" >
  <div class="C_ProfilePlantShelfFilter">
    <div id="garden" class="A_ProfilePlantsFilterElement active A_RegularText" data-action="click->profile#showGarden" data-profile-target="cardsButton">Сад</div>
    <div id="shelves" class="A_ProfilePlantsFilterElement A_RegularText" data-action="click->profile#showShelves" data-profile-target="shelvesButton">Полки</div>
  </div>
  <div>
    <% if @profile.user == current_user %>
      <%= link_to "Добавить растение", new_plant_path, class: 'A_NewPlantButton orange A_RegularText' %>
    <% end %>
  </div>
</div>

<div class="C_ProfileCards" data-profile-target="cards">
  <% @plants.reverse.each do |plant| %>
    <% if @profile && plant.user_id == @profile.user.id %>
      <%= link_to plant, class: 'M_SwapCard' do %>
        <%= render partial: 'plants/plantPreview', locals: { plant: plant } %>
      <% end %>
    <% end %>
  <% end %>
</div>

  <div class="C_ProfileShelves hidden" data-profile-target="shelves">
  <% @shelves.each do |shelf| %>
        <%= render partial: 'shelves/shelfPreviewProfile', locals: { shelf: shelf } %>
  <% end %>
  </div>


</div>
</div>