<%= form_with(model: shelf) do |form| %>
  <% if shelf.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shelf.errors.count, "error") %> prohibited this shelf from being saved:</h2>

      <ul>
        <% shelf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="O_Form">

    <div class="M_FormSection">

      <div class="M_FormSectionName A_SecondTitle">
          Основное
      </div>

      <div class="M_FormSectionContent">
        <div>
          <%= form.label "Название полки", class: "A_MediumText", style: "display: block" %>
          <br>
          <%= form.text_field :title, class: "A_FormInput A_RegularText", placeholder: "Мои кактусы" %>
        </div>

        <div>
          <%= form.label "Описание полки", class: "A_MediumText", style: "display: block" %>
          <br>
          <%= form.text_area :description, class: "A_FormInput A_RegularText", placeholder: "Мои кактусы" %>
        </div>
      </div>

    </div>

    <% @shelf.plants.each do |plant| %>
      <div class="M_SwapCard">
        <%= check_box_tag "shelf[plant_ids][]", plant.id %>
        <%= render partial: 'plants/plantPreview', locals: { plant: plant } %>
      </div>
    <% end %>

      <div class="M_FormSection">
    
      <div class="M_FormSectionName">
      </div>

      <div>
        <%= form.submit "Сохранить", class:"A_SubmitButton A_MediumText"%>
      </div>
      <% end %>
    </div>
  
</div>
