<div id="<%= dom_id swap %>">
<%= image_tag swap.swap_image.url, width: 400 if swap.swap_image.url %>
  <p>
    <strong>Title:</strong>
    <%= swap.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= swap.description %>
  </p>
  <p>
  <strong>By</strong>
  <%= swap.user.email %>
</p>

</div>
