

<div class="M_IdeaCard">
  <div class="M_IdeaCardImg">
    <% if idea.idea_image.present? %>
      <%= image_tag idea.idea_image.url, class: "A_IdeaCardImg" %>
    <% else %>
      <%= image_tag "", class: "A_IdeaCardImg" %>
    <% end %>
  </div>

  <div class="M_IdeaCardInfo">
    <div class="M_IdeaCardInfoFirst">
      <div class="M_IdeaCardInfoFirstSub">
          <div class="M_IdeaCardInfoAvatar">
            <% if idea.user.profile.profile_image.file.present? %>
              <%= image_tag idea.user.profile.profile_image.url, class: "A_ProfileAvatarImg" %>
            <% else %>
              <%= image_tag "base/profile_image.png", class: "A_ProfileAvatarImg", alt: "Default Avatar" %>
            <% end %>
          </div>

          <%= link_to profile_path(idea.user.profile) do %>
          <div class="M_IdeaCardInfoNickname A_AverageRegularText">
              <%= idea.user.profile.username %>
          </div>
          <% end %>
      </div>
      <div class="M_IdeaCardInfoSave">
        <% if user_signed_in? %>
         <%= render 'ideas/savedIdeas_button', idea: idea %>
        <% end %>
      </div>
    </div>

    <div class="M_IdeaCardInfoSecond">
      <div class="M_IdeaCardInfoDescTime">
        <div class="A_MediumText"><%= idea.title %></div>
      </div>

      <%= link_to idea do %>
        <div class="M_IdeaCardInfoLink">
            <div class="A_AverageRegularText">Перейти к мысли</div>
            <%= image_tag "base/circle_arrow_right.svg", class: "Q_Edit" %> 
        </div>
      <% end %>

    </div>
  </div>
</div>
