<div class="S_BodyPadding">
<div class="M_TitleWrapper">
<div class="A_Title">зарегестрироваться</div>
</div>
<br>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "Почта", class: "A_MediumText" %><br />
    <br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "A_FormInput A_RegularText" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label "Пароль", class: "A_MediumText"  %>
    <br>
    <% if @minimum_password_length %>
    <em>(Минимум 6 символов)</em>
    <% end %><br />
    <br>
    <%= f.password_field :password, autocomplete: "new-password", class: "A_FormInput A_RegularText" %>
  </div>
  <br>
  <br>
  <div class="field">
    <%= f.label "Подтверждение пароля", class: "A_MediumText"  %><br />
    <br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "A_FormInput A_RegularText" %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit "Зарегестрироваться" %>
  </div>
<% end %>

    <%= render "devise/shared/links" %>

</div>