<div id="<%= dom_id comment %>" class="W_PlantComment">
  
  <div class="A_AverageMediumText">
    <%= comment.user.profile.username %>
  </div>
  
  <div class="A_AverageRegularText">
    <%= comment.body %>
  </div>

 
  <div class="C_PlantCommentActions">
    <div class="A_PlantCommentAction A_SmallRegularText">ответить</div>
    <% if comment.user == current_user %>
      <%= link_to "редактировать", edit_plant_comment_path(comment), class:"A_PlantCommentAction A_SmallRegularText" %>
      <%= button_to "удалить", [plant, comment], method: :delete, class:"destroy A_PlantCommentAction A_SmallRegularText" %>
    <% end %>
  </div>


<div class="commentReplies">
    <% comment.replies.each do |reply| %>
      <%= render reply, partial: "comments/comment", comment: reply, plant: plant %>
    <% end%>
  </div>

</div>



