<%= form_with(model: [:admin, plant, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="O_Form">
  <div class="M_FormSection">
    <div class="M_FormSectionName A_SecondTitle">
          Тело комментария
    </div>

    <div class="M_FormSectionContent">
      <div>
        <%= form.text_area :body, class: "A_FormInput A_RegularText", placeholder: "Доброе!"  %>
      </div>
    </div>
  </div>

  <div class="M_FormSection">
    
      <div class="M_FormSectionName">
      </div>

      <div>
        <%= form.submit "Сохранить", class:"A_SubmitButton A_MediumText" %>
      </div>
    <% end %>
  </div>
  
</div>
