<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Article tag:</strong>
    <%= article.article_tag %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Article imge:</strong>
    <%= article.article_imge %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= article.article_id %>
  </p>

</div>
