<div class="S_BodyPadding">
  <div class="M_TitleWrapper">
  <div class="W_PlantProfileTitle">
    <div class="A_Title">
      <%= plant.name %>
    </div>
    <%= link_to edit_plant_path(@plant) do %>
      <%= image_tag "base/plant_edit.svg", class: "Q_Icon" %>
    <% end %>

    <%= button_to @plant, method: :delete, class: "custom-button" do %>
      <%= image_tag "base/plant_bin.svg", class: "Q_Icon" %>
      
    <% end %>
    
    </div>
  </div>

  <div class="W_PlantProfileContent">
    <div class="W_PlantProfileInfo">
      <div class="A_AverageRegularText">Владелец: <%= @plant.user.profile.username %></div>
      <div class="A_RegularText"><%= plant.description %></div>
      <div>
        <% if plant.tag_list.present? %>
          <div class="A_Tag A_RegularText"><%= plant.tag_list %></div>
        <% else %>
          <div></div>
        <% end %>
      </div>
      <div><%= plant.category_list %></div>
    </div>

    <div class="W_PlantProfilePic">
      <%= image_tag plant.plant_image.url, class: "A_PlantProfilePic" %>
    </div>

    <div class="W_PlantProfileInteraction">
      <div class="A_PlantDate A_AverageRegularText">
        Добавлено:
        <%= plant.created_at.strftime("%Y.%m.%d") %>
      </div>

      

      <div class="M_PlantComments">
        <div class="W_PlantCommentsContent">
          <div class="M_PlantLikeComment">
            <div class="M_PlantLikeCommentItem">
              <%= image_tag "base/like.svg", class: "Q_Like" %>
              <div class="A_AverageRegularText">12</div>
            </div>
            <div class="M_PlantLikeCommentItem">
              <%= image_tag "base/comment.svg", class: "Q_Comment" %>
              <div class="A_AverageRegularText"> <%= @plant.comments.length %> </div>
            </div>
        </div>

          <% @plant.comments.each do |comment| %>
            <% if comment.replies.empty? %>
              <%= render comment, plant: @plant %>
            <% end %>
          <% end %>
          
          <div class="M_CommentMore">
            <div class="A_AverageRegularText">посмотреть больше</div>
            <%= image_tag "base/more_arrow.svg", class: "Q_Edit" %>
          </div>

          <div class="W_CommentButton A_SmallRegularText">
            <%= link_to "Написать комментарий", new_plant_comment_path(@plant), class: "A_CommentButton" %>
          </div>
      </div>

          
        </div>
      </div>
    </div>
  </div>
  <div class="C_PlantProfileNotes">
    <div class="M_PlantProfileNotesInfo">
      <div class="A_SecondTitle">История растения</div>
      <%= link_to "Сделать дневниковую запись", new_plant_note_path(@plant), class: 'A_NewPlantButton grey A_RegularText'  %>
    </div>
    <div class="A_PlantProfileNoteArrow">
      <%= image_tag "base/notes_arrow.svg", class: "Q_Edit" %>
    </div>
  
    <div class="M_PlantProfileNotes">
      <% @plant.notes.each do |note| %>
          <%= render note, plant: @plant %>
      <% end %>
    </div>
  </div>
</div>