<div id="<%= dom_id plant %>">
<%= image_tag plant.plant_image.url, width: 400%>
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plant.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= plant.user_id %>
  </p>

</div>
