<div id="<%= dom_id note %>">
<%= image_tag note.note_image.url, width: 400 if note.note_image.url %>

<p>
<strong>Date:</strong>
<%= note.date %>
</p>

<p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>

</div>
