<div id="<%= dom_id note %>">
<%= image_tag note.note_image.url, width: 400 if note.note_image.url %>

<p>

<%= note.date %>
</p>

<p>
    <strong>Название:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Что произошло:</strong>
    <%= note.body %>
  </p>

</div>
