<div id="<%= dom_id note %>" class="M_PlantProfileNote">


  <div class="A_SmallRegularText">
  <%= note.date %>
  </div>

  <div class="A_AverageMediumText">
      <%= note.title %>
  </div>

  <div class="A_AverageRegularText">
    <%= note.body %>
  </div>

  
  <% if note.note_image.present? %>
  <div class="W_PlantProfileNoteImg">
    <%= image_tag note.note_image.url, class: "A_PlantProfileNoteImg" %>
    </div>
  <% else %>
    <div class="none"></div>
  <% end %>
  

</div>
