
<div class="S_BodyPadding">
  <div class="O_Menu">
    <div class="W_SectionMenuLogo">

      <%= link_to welcome_feed_url do %>
        <%= image_tag "base/logo.svg", class: "Q_Logo" %>
      <% end %>
      <div class="A_AverageRegularText logoDescpription">...о домашних цветах</div>
    
      </div>

    <div class="W_MenuSections">
        
          <% if user_signed_in? %>
              <div class="A_MenuSection <%= 'active' if current_page?(welcome_exchange_path) %>">
                <%= link_to "обмен", welcome_exchange_url%>
              </div>

              <div class="A_MenuSection <%= 'active' if current_page?(welcome_myswaps_path) %>">
                <%= link_to "мои предложения", welcome_myswaps_url %>
              </div>

              <div class="A_MenuSection <%= 'active' if current_page?(welcome_wishlist_path) %>">
                <%= link_to "вишлист", welcome_wishlist_url %>
              </div>

             
              <div class="A_MenuSection" data-controller="menu">
                
                  <% if current_user.profile.profile_image.file.present? %>
                    <div data-action="click->menu#toggleMenu" class="A_HeaderAvatar" >
                      <%= image_tag current_user.profile.profile_image.url, class: "Q_HeaderAvatar" %>
                    </div>
                  <% else %>
                    <%= image_tag "base/profile_image.png", class: "A_ProfileAvatarImg", alt: "Default Avatar" %>
                  <% end %>

                  <div class="C_DropMenuSections hidden" data-menu-target="additionalMenu">
                    <%= link_to profile_path(current_user.profile) do %>
                      <div class="A_DropMenuSection">профиль</div>
                    <% end %>

                    <%= link_to welcome_savedIdeas_url do %>
                      <div class="A_DropMenuSection">сохранённые мысли</div>
                    <% end %>

                    <%= link_to welcome_savedIdeas_url do %>
                      <div class="A_DropMenuSection">поддержка</div>
                    <% end %>

                    <%= link_to destroy_user_session_path, method: :delete do %>
                      <div class="A_DropMenuSection">выйти</div>
                    <% end %>
                </div>

              </div>

          <% else %>
            <%= link_to new_user_session_path do %>
              <%= image_tag "icons/Q_HeaderAvatar.svg", class: "Q_HeaderAvatar" %>
            <% end %>
          <% end %>

    </div>

  </div>
</div>

