<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= display_meta_tags site: "Plantier", reverse: true %>
    
    <%= display_meta_tags icon: asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'turbo' %>
  </head>

  <body>
  <%#= @guest.token %>
  <%#= api_v1_sign_in_url %>
  <%= render 'menubar' %>
  
    <%= yield %>

    <%= render 'footer' %>
  </body>
</html>
